DB_HOST=localhost
DB_PORT=5432
DB_USER=message_broker
DB_PASSWORD=message_broker
DB_NAME=message_broker
DB_SSLMODE=disable
DB_CONNECT_RETRIES=5
DB_CONNECT_RETRY_DELAY_MS=1000
ROOT_TOKEN=message_broker_root
MAX_MESSAGE_SIZE=1048576
MAX_ROUTING_KEY_LENGTH=255
MAX_QUEUE_FILTERS=32
MAX_IN_FLIGHT=32
